

body{
    
}
h1{
    text-align: center;
    font-size: 50px;
    color:rgb(14, 91, 62);
}
h2{
    font-size: 30px;
}
header{
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-image: url("images/banner.jpeg");
    background-size: cover;
}
.logo{
    flex: 60%;
    text-align: center;
}

.logo i{
    font-size: 30px;
}

.searchbox{
    flex: 20%;
}
.searchbox input[type="search"],.searchbox input[type="button"]{
    padding:10px;
    border-radius: 8px;
    border: 3px solid gray;
}
.searchbox input[type="button"]:hover{
    background-color: rgb(14, 91, 62);
    color:white;
}
.searchbox input[type="button"]:active{
    transform: scale(1.05);
}
nav{
    background-color: rgba(11, 4, 4, 0.486);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    font-size: 20px;
}
nav> div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius:60px;
    border-bottom-right-radius: 60px ;
}
.clientNav{
    background-color: rgb(6, 57, 38);
}

section div{
    background-color: rgba(128, 128, 128, 0.486);
    border:1px solid black;
    padding: 0 0 20px 20px;
}
.client{
    display: block;

}
.products{
    display: none;
}

.products form input[type="checkbox"]{
    margin-bottom: 50px;
}

.products img{
    margin-right:10px;
    border:1px solid black;
    position: relative;
    top:20px;
}

.cart{
    display: none;
}
input[type="text"], select{
    padding:5px;
    border-radius: 3px;
    border: none;
}
section input[type="button"]{
    border: none;
    padding: 8px;
    border-radius: 7px;
    background-color:rgb(62, 61, 61) ;
    color: white;
    transition: 0.05s;
}
section input[type="button"]:hover{
    background-color: rgb(14, 91, 62);
}
section input[type="button"]:active{
    transform: scale(1.05);
}

